gensim~=4.2.0
bs4~=0.0.1
beautifulsoup4~=4.11.1
pypdf2~=3.0.1
reportlab~=4.0.4
nltk~=3.7
pillow~=9.1.1
numpy~=1.22.4
pandas~=1.4.2
jsonlines~=3.1.0
levenshtein~=0.20.8
scipy~=1.8.1
openpyxl~=3.0.9
func_timeout
setuptools~=68.0.0
torch~=1.10.2
openai~=0.27.2
transformers~=4.21.3
tqdm~=4.65.0
